
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
jupyter_env/
.Python
build/
dist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.ipynb_checkpoints/

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# VSCode
.vscode
